.header__lang-link {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

/* .header__lang-link input[type=radio] {
	display: none;
}

.header__lang-link input[type=radio]:checked + label {
	text-decoration: underline;
} */

/* .header__lang-link:first-child {
    text-decoration: underline;
} */

@media screen and (max-width: 320px) {
    .header__lang-link {
        height: 20px;
        width: 22px;
    }
}
