.page {
    background: #2A2C2F;
    min-width: 320px;
    max-width: 1184px;
    font-family: Inter, Arial, sans-serif;
    /* правила для сглаживания шрифтовхром подобных */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0 auto;
}