.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    align-items: center;
    justify-items: center;
    gap: 16px;
    margin: 0;
    margin-top: 92px;
    padding: 0 calc((100% - 1184px)/2);
}

@media screen and (max-width: 1279px) {
    .photo-grid {
        padding: 0 calc((100vw - 928px)/2);
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid {
        padding: 0 calc((100vw - 720px)/2);
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
        padding: 0 calc((100vw - 288px)/2);
    }
}