.header__links {
    margin: 0;
    padding: 0;
    padding-right: 32px;
    padding-bottom: 4px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
}

@media screen and (max-width: 1023px) {
    .header__links {
        padding-right: 10px;
    }
}

@media screen and (max-width: 424px) {
    .header__links {
        padding-right: 4px;
    }
}