.header__links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
    padding-right: 2%;
}

@media screen and (max-width: 424px) {
    .header__links {
        padding-right: 16px;
    }
}