.header__logo {
    max-height: 52px;
    width: 176px;
    border-radius: 0px;
    margin: 0;
    padding: 0;
    padding-left: 48px;
}

@media screen and (max-width:320px) {
    .header__logo {
        height: 42px;
        width: 142px;
    }
}
