.place__paragraph-p {
    margin: 0;
    margin-bottom: 26px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    /* or 29px */
    color: #FFFFFF;
}

.place__paragraph-p:last-child {
    margin-bottom: 0;
} 

@media screen and (max-width: 768px) {
    .place__paragraph-p {
        font-size: 16px;
        margin-bottom: 25px;
    }
}