.place__img {
    grid-area: image;
    width: 100%;
    max-width: 460px;
    min-width: 320px;
    max-height: 460px;
    min-height: 320px;
}

@media screen and (max-width: 1279px) {
    .place__img {
        max-width: 440px;
        min-width: 320px;
        max-height: 440px;
        min-height: 320px;
    }
}

@media screen and (max-width: 1023px) {
    .place__img {
        max-width: 340px;
        min-width: 320px;
        max-height: 340px;
        min-height: 320px;
    }
}

/* 
@media screen and (max-width: 1023px) {
    .place__img {
        width: 340px;
        height: 340px;
    }
}
@media screen and (max-width: 767px) {
    .place__img {
        width: 320px;
        height: 320px;
    }
} */