.cover__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */
    text-align: center;
    margin: 0 auto 32px auto;
    /* margin-bottom: 32px; */
    padding: 0;
    max-width: 560px;
}

@media screen and (max-width: 767px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        margin: 0 auto 16px auto;
        /* margin-bottom: 16px; */
        max-width: 240px;
    }
}