.footer__list {
    display: grid;
    grid-template-columns: repeat(5, min-content);
    gap: 18px;
    list-style-type: none;
    padding: 0;
    padding-left: 10%;
    margin: 0;
}
@media screen and (max-width: 767px) {
    .footer__list {
        grid-template-columns: repeat(1, min-content);
        padding-left: 16px;
        gap: 32px;
        margin-bottom: 32px;
    }
}