.place {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    row-gap: 48px;
    column-gap: 40px;
    grid-template-areas:
    "title link"
    "image content";
    margin-top: 80px;
}

@media screen and (max-width: 768px) {
    .place {
        margin-top: 73px;
    }
}

@media screen and (max-width: 320px) {
    .place {
        grid-template-areas:
        "title"
        "link"
        "image"
        "content";
        margin-top: 50px;
        row-gap: 32px;
    }
}