.place__url-heading {
    font-family: 'Inter';
    /* правила для сглаживания шрифтовхром подобных */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 170%;
    /* or 20px */
    letter-spacing: 2px;
    color: #AAAAAA;
    margin: 0;
}