.place__website {
    grid-area: link;
    /* grid-column: 2/3;
    grid-row: 1/2; */
    display: grid;
    align-content: end;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .place__website {
        padding: 0 4% 0;
    }
}